:root {
  --font: 'Roboto', sans-serif;
  --font-color_header: #FFFFFF;
  --font-color_main:#000000;
  --font-color_footer:#545454;
  --span-color: #FF6B08;
  --error-color: #FF001B;
  --background-footer:#F7F7F7;
  --font-color-moddal:#8C8C8C;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  margin-top: 0px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.headerIndex {
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/headerBackgroundIndex 320.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/headerBackgroundIndex 320.png");
}

.headerIndex__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerIndex__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 21px;
  margin-top: 46px;
}

.headerIndex__logoText {
  display: none;
}

.headerIndex__menu {
  margin-right: 20px;
  margin-top: 58px;
  font-size: 12px;
  text-transform: uppercase;
}

.headerIndex__menuLink {
  font-family: var(--font);
  color: var(--font-color_header);
  font-weight: 500;
}

.headerIndex__menuLink--underline {
  -webkit-text-decoration: underline solid var(--span-color);
          text-decoration: underline solid var(--span-color);
  text-underline-offset: 0.4em;
  text-decoration-thickness: 2px;
}

.headerIndex__menuLink:hover, .headerIndex__menuLink:focus {
  -webkit-text-decoration: underline solid var(--span-color);
          text-decoration: underline solid var(--span-color);
  text-underline-offset: 0.4em;
  text-decoration-thickness: 2px;
}

.headerIndex__menuLink:first-child {
  margin-right: 39px;
}

.headerIndex__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerIndex__error {
  color: var(--error-color);
  text-align: center;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
}

.headerIndex__search {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid gray;
  width: 280px;
  height: 22px;
  font-family: --font;
  font-size: 14px;
  color: var(--font-color_header);
}

.headerIndex__search:focus {
  outline: none;
}

.headerIndex__search::-webkit-input-placeholder {
  color: var(--font-color_header);
  font-family: --font;
  font-size: 14px;
}

.headerIndex__search:-ms-input-placeholder {
  color: var(--font-color_header);
  font-family: --font;
  font-size: 14px;
}

.headerIndex__search::-ms-input-placeholder {
  color: var(--font-color_header);
  font-family: --font;
  font-size: 14px;
}

.headerIndex__search::placeholder {
  color: var(--font-color_header);
  font-family: --font;
  font-size: 14px;
}

.headerIndex__search-form {
  margin-top: 37px;
  margin-bottom: 22px;
  margin-left: 20px;
}

.headerIndex__submit {
  background: transparent;
  border: none;
  position: relative;
  right: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .headerIndex {
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/headerBackgroundIndex 768.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/headerBackgroundIndex 768.png");
  }
  .headerIndex__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerIndex__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 71px;
    margin-top: 41px;
  }
  .headerIndex__logoIcon {
    margin-right: 10px;
  }
  .headerIndex__logoText {
    display: inline;
    font-family: var(--font);
    color: var(--font-color_header);
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
  }
  .headerIndex__menu {
    margin-right: 76px;
    margin-top: 58px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .headerIndex__menuLink {
    font-family: var(--font);
    color: var(--font-color_header);
    font-weight: 500;
  }
  .headerIndex__menuLink:first-child {
    margin-right: 39px;
  }
  .headerIndex__search {
    background: transparent;
    border: none;
    border-bottom: 0.5px solid gray;
    width: 336px;
    height: 22px;
    font-family: --font;
    font-size: 14px;
    color: var(--font-color_header);
  }
  .headerIndex__search:focus {
    outline: none;
  }
  .headerIndex__search::-webkit-input-placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search:-ms-input-placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search::-ms-input-placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search::placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search-form {
    margin-top: 37px;
    margin-bottom: 22px;
  }
  .headerIndex__submit {
    background: transparent;
    border: none;
    position: relative;
    right: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .headerIndex {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/headerBackgroundIndex 1024.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/headerBackgroundIndex 1024.png");
  }
  .headerIndex__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerIndex__logo {
    margin-left: 71px;
    margin-top: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerIndex__logoIcon {
    margin-right: 10px;
  }
  .headerIndex__logoText {
    display: inline;
    font-family: var(--font);
    color: var(--font-color_header);
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
  }
  .headerIndex__menu {
    margin-right: 71px;
    margin-top: 58px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .headerIndex__menuLink {
    font-family: var(--font);
    color: var(--font-color_header);
    font-weight: 500;
  }
  .headerIndex__menuLink:first-child {
    margin-right: 39px;
  }
  .headerIndex__search {
    background: transparent;
    border: none;
    border-bottom: 0.5px solid gray;
    width: 336px;
    height: 22px;
    font-family: --font;
    font-size: 14px;
    color: var(--font-color_header);
  }
  .headerIndex__search:focus {
    outline: none;
  }
  .headerIndex__search::-webkit-input-placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search:-ms-input-placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search::-ms-input-placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search::placeholder {
    color: var(--font-color_header);
    font-family: --font;
    font-size: 14px;
  }
  .headerIndex__search-form {
    margin-top: 37px;
    margin-bottom: 22px;
  }
  .headerIndex__submit {
    background: transparent;
    border: none;
    position: relative;
    right: 22px;
  }
}

.headerLibrary {
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/headerBackgroundLibrary 320.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/headerBackgroundLibrary 320.png");
}

.headerLibrary__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerLibrary__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 21px;
  margin-top: 46px;
}

.headerLibrary__logoText {
  display: none;
}

.headerLibrary__menu {
  margin-right: 20px;
  margin-top: 58px;
  font-size: 12px;
  text-transform: uppercase;
}

.headerLibrary__menuLink {
  font-family: var(--font);
  color: var(--font-color_header);
  font-weight: 500;
}

.headerLibrary__menuLink:first-child {
  margin-right: 39px;
}

.headerLibrary__menuLink:hover, .headerLibrary__menuLink:focus {
  -webkit-text-decoration: underline solid var(--span-color);
          text-decoration: underline solid var(--span-color);
  text-underline-offset: 0.4em;
  text-decoration-thickness: 2px;
}

.headerLibrary__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 49px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.headerLibrary__btn {
  background: transparent;
  width: 130px;
  height: 44px;
  color: var(--font-color_header);
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid var(--font-color_header);
  cursor: pointer;
}

.headerLibrary__btn:hover, .headerLibrary__btn:focus {
  background-color: var(--span-color);
  border-color: var(--span-color);
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .headerLibrary {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/headerBackgroundLibrary 768.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/headerBackgroundLibrary 768.png");
  }
  .headerLibrary__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerLibrary__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 71px;
    margin-top: 41px;
  }
  .headerLibrary__logoIcon {
    margin-right: 10px;
  }
  .headerLibrary__logoText {
    display: inline;
    font-family: var(--font);
    color: var(--font-color_header);
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
  }
  .headerLibrary__menu {
    margin-right: 76px;
    margin-top: 58px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .headerLibrary__menuLink {
    font-family: var(--font);
    color: var(--font-color_header);
    font-weight: 500;
  }
  .headerLibrary__menuLink:first-child {
    margin-right: 39px;
  }
  .headerLibrary__buttons {
    gap: 15px;
  }
  .headerLibrary__btn {
    width: 136px;
    height: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .headerLibrary {
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/headerBackgroundLibrary 1024.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/headerBackgroundLibrary 1024.png");
  }
  .headerLibrary__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerLibrary__logo {
    margin-left: 71px;
    margin-top: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerLibrary__logoIcon {
    margin-right: 10px;
  }
  .headerLibrary__logoText {
    display: inline;
    font-family: var(--font);
    color: var(--font-color_header);
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
  }
  .headerLibrary__menu {
    margin-right: 71px;
    margin-top: 58px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .headerLibrary__menuLink {
    font-family: var(--font);
    color: var(--font-color_header);
    font-weight: 500;
  }
  .headerLibrary__menuLink:first-child {
    margin-right: 39px;
  }
  .headerLibrary__buttons {
    gap: 15px;
  }
  .headerLibrary__btn {
    width: 136px;
    height: 44px;
  }
}

.gallery {
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.gallery__image {
  width: 280px;
  height: 420px;
  border-radius: 4px;
}

.gallery__title {
  font-family: var(--font);
  color: var(--font-color_main);
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 3px;
}

.gallery__decr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.gallery__genre, .gallery__date {
  font-family: var(--font);
  color: var(--span-color);
  font-size: 12px;
  font-weight: 500;
}

.gallery__genre {
  margin-right: 4px;
}

.gallery__date {
  padding-left: 4px;
  border-left: 1px solid var(--span-color);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 75px;
    gap: 30px;
    margin-bottom: 50px;
  }
  .gallery__image {
    width: 294px;
    height: 398px;
    border-radius: 4px;
  }
  .gallery__decr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    max-width: 1024px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 71px;
    gap: 30px;
    margin-bottom: 50px;
  }
  .gallery__image {
    width: 274px;
    height: 398px;
    border-radius: 4px;
  }
  .gallery__decr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
  }
}

.footer {
  height: 100px;
  background-color: var(--background-footer);
  display: block;
  padding-top: 29px;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font);
  color: var(--font-color_footer);
  font-size: 14px;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: pre;
  margin-top: 10px;
}

.footer__heart {
  margin-left: 10px;
  margin-right: 10px;
}

.footer__link {
  color: var(--font-color_footer);
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--background-footer);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--font);
    color: var(--font-color_footer);
    font-size: 16px;
    font-weight: 400;
  }
  .footer__heart {
    margin-left: 10px;
    margin-right: 10px;
    height: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--background-footer);
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--font);
    color: var(--font-color_footer);
    font-size: 16px;
    font-weight: 400;
  }
  .footer__heart {
    margin-left: 10px;
    margin-right: 10px;
    height: 13px;
  }
}

.moddal {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity(1);
  transition-property: opacity(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
          transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
  z-index: 2;
}

.moddal__window {
  width: 280px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.moddal__voteA {
  background-color: var(--span-color);
  width: 36px;
  height: 15px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--font-color_header);
}

.moddal__voteC {
  background-color: var(--background-footer);
  width: 36px;
  height: 15px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moddal__poster {
  width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 30.5px;
  margin-left: 20px;
}

.moddal__close {
  position: relative;
  top: 2px;
  left: 252px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.moddal__title {
  font-family: var(--font);
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
}

.moddal__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moddal__data--1 {
  margin-right: 33.5px;
}

.moddal__data--2 {
  margin-right: 45.5px;
}

.moddal__data--3 {
  margin-right: 32px;
}

.moddal__data--4 {
  margin-right: 68px;
}

.moddal__about {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 20px;
}

.moddal__aboutTxt {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 20px;
  width: 240px;
  margin-bottom: 21px;
}

.moddal__dataTitle {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 500;
  color: var(--font-color-moddal);
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.moddal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.moddal__btn {
  background: transparent;
  border: 1px solid var(--font-color_main);
  border-radius: 4px;
  width: 112px;
  height: 44px;
  text-transform: uppercase;
  font-family: var(--font);
  font-size: 12px;
  font-weight: 500;
}

.moddal__btn:focus, .moddal__btn:hover {
  background-color: var(--span-color);
  border: 1px solid var(--span-color);
  color: var(--font-color_header);
  cursor: pointer;
}

.moddal__dataTxt {
  font-family: var(--font);
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .moddal {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity(1);
    transition-property: opacity(1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
            transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    z-index: 2;
  }
  .moddal__window {
    width: 618px;
    height: 562px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .moddal__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .moddal__poster {
    margin-left: 28px;
    margin-right: 32px;
    margin-top: 18px;
    width: 264px;
    height: 373px;
    border-radius: 5px;
  }
  .moddal__close {
    position: relative;
    top: 4px;
    left: 588px;
    background-color: transparent;
    border: none;
  }
  .moddal__title {
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .moddal__about {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .moddal__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
  .moddal__btn {
    background: transparent;
    border: 1px solid var(--font-color_main);
    border-radius: 4px;
    width: 125px;
    height: 44px;
    text-transform: uppercase;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
  }
  .moddal__btn:focus, .moddal__btn:hover {
    background-color: var(--span-color);
    border: 1px solid var(--span-color);
    color: var(--font-color_header);
  }
  .moddal__data--1 {
    margin-right: 33.5px;
  }
  .moddal__data--2 {
    margin-right: 45.5px;
  }
  .moddal__data--3 {
    margin-right: 32px;
  }
  .moddal__data--4 {
    margin-right: 68px;
  }
  .moddal__aboutTxt {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    width: 264px;
    margin-bottom: 20px;
  }
  .moddal__dataTitle {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    color: var(--font-color-moddal);
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .moddal {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity(1);
    transition-property: opacity(1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
            transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    z-index: 2;
  }
  .moddal__window {
    width: 882px;
    height: 568px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .moddal__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .moddal__poster {
    width: 396px;
    height: 478px;
    border-radius: 5px;
    margin-top: 26px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .moddal__close {
    position: relative;
    top: 4px;
    left: 850px;
    background-color: transparent;
    border: none;
  }
  .moddal__title {
    font-family: var(--font);
    font-size: 30px;
    font-weight: 500;
    margin-top: 26px;
    margin-bottom: 20px;
  }
  .moddal__about {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .moddal__aboutTxt {
    width: 396px;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 27px;
    margin-top: 0px;
  }
  .moddal__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
  .moddal__btn {
    background: transparent;
    border: 1px solid var(--font-color_main);
    border-radius: 4px;
    width: 136px;
    height: 44px;
    text-transform: uppercase;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
  }
  .moddal__btn:focus, .moddal__btn:hover {
    background-color: var(--span-color);
    border: 1px solid var(--span-color);
    color: var(--font-color_header);
  }
  .moddal__data--1 {
    margin-right: 75.5px;
  }
  .moddal__data--2 {
    margin-right: 87.5px;
  }
  .moddal__data--3 {
    margin-right: 74px;
  }
  .moddal__data--4 {
    margin-right: 110px;
  }
  .moddal__dataTitle {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    color: var(--font-color-moddal);
    margin-bottom: 10px;
  }
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */