:root {
  --font: 'Roboto', sans-serif;
  --font-color_header: #FFFFFF;
  --font-color_main:#000000;
  --font-color_footer:#545454;
  --span-color : #FF6B08;
  --error-color: #FF001B;
  --background-footer:#F7F7F7;
  --font-color-moddal:#8C8C8C;
}